<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="{{ asset('css/bootstrap.min.css') }}"  rel="stylesheet">
    <link href="{{ asset('css/bootstrap-grid.min.css') }}"  rel="stylesheet">
    <link href="{{ asset('css/bootstrap-reboot.min.css') }}"  rel="stylesheet">

</head>
<body>
<div class="form-group">
    {{ form_widget(registrationForm.username ,{'attr': {'class': 'form-control'}}) }}
    {{ form_widget(registrationForm.password,{'attr': {'class': 'form-control'}}) }}
    {{ form_widget(registrationForm.firstname,{'attr': {'class': 'form-control'}}) }}
    {{ form_widget(registrationForm.lastname,{'attr': {'class': 'form-control'}}) }}
    {{ form_widget(registrationForm.mail,{'attr': {'class': 'form-control'}}) }}
    {{ form_widget(registrationForm.phone_fixed,{'attr': {'class': 'form-control'}}) }}
    {{ form_widget(registrationForm.phone_mobile,{'attr': {'class': 'form-control'}}) }}
    {{ form_widget(registrationForm.about,{'attr': {'class': 'form-control'}}) }}


    <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>
</body>
<script src="{{ asset('/js/jquery.min.css') }}"></script>
<script src="{{ asset('/js/bootstrap.min.css') }}"></script>
<script src="{{ asset('/js/bootstrap.bundle.min.css') }}"></script>
</html>