{% extends "front/layout.html.twig" %}
{% block body %}
<form method="post">
<div class="container">
    <div class="mt-5">
        <div class="row">
            <div class="form-group col-6">
                {{ form_label(registrationForm.username, 'Username :') }}
                {{ form_widget(registrationForm.username ) }}
                {{ form_errors(registrationForm.username) }}
            </div>
           <div class="form-group col-6">
               {{ form_label(registrationForm.password, 'Password :') }}
               {{ form_widget(registrationForm.password) }}
               {{ form_errors(registrationForm.password) }}
           </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                {{ form_label(registrationForm.firstname, 'Firstname :') }}
                {{ form_widget(registrationForm.firstname) }}
            </div>
            <div class="form-group col-6">
                {{ form_label(registrationForm.lastname, 'Lastname :') }}
                {{ form_widget(registrationForm.lastname) }}
            </div>
        </div>

        <div class="row"></div>

        <!-- #TODO  add form error-->
        <div class="row">
            <div class="form-group col-6 {% if  registrationForm.mail.vars.errors %} is-invalid {% endif %}">
                {{ form_label(registrationForm.mail, 'Mail :')}}
                {{ form_widget(registrationForm.mail) }}
                {{ form_errors(registrationForm.mail) }}
            </div>
            <div class="form-group col-6">
                {{ form_label(registrationForm.phone_fixed, 'Phone fixed :') }}
                {{ form_widget(registrationForm.phone_fixed) }}
            </div>

            <div class="form-group col-6">
                {{ form_label(registrationForm.phone_mobile, 'Mobile phone :') }}
                {{ form_widget(registrationForm.phone_mobile) }}
            </div>
            <div class="form-group col-6">
                {{ form_label(registrationForm.about, 'About you :') }}
                {{ form_widget(registrationForm.about) }}
            </div>
        </div>

        <div class="form-group">
            <button class="btn" type="submit">Register</button>
        </div>

        {{ form_end(registrationForm) }}
    </div>
</div>
</form>
{% endblock %}
