{% extends "back/layout.html.twig" %}

{% block content %}

    <form method="post">
        <div class="container">
            <div class="mt-5">
                <div class="row">
                    <div class="form-group col-12">
                        {{ form_row(user.picture) }}
                    </div>
                    <div class="form-group col-6">
                        {{ form_label(user.username, 'Username :') }}
                        {{ form_widget(user.username ) }}
                        {{ form_errors(user.username) }}
                    </div>
                    <div class="form-group col-6">
                        {{ form_label(user.password, 'Password :') }}
                        {{ form_widget(user.password) }}
                        {{ form_errors(user.password) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        {{ form_label(user.firstname, 'Firstname :') }}
                        {{ form_widget(user.firstname) }}
                        {{ form_errors(user.firstname) }}
                    </div>
                    <div class="form-group col-6">
                        {{ form_label(user.lastname, 'Lastname :') }}
                        {{ form_widget(user.lastname) }}
                        {{ form_errors(user.lastname) }}
                    </div>
                </div>

                <div class="row"></div>

                <!-- #TODO  add form error-->
                <div class="row">
                    <div class="form-group col-6 {% if  user.mail.vars.errors %} is-invalid {% endif %}">
                        {{ form_label(user.mail, 'Mail :')}}
                        {{ form_widget(user.mail) }}
                        {{ form_errors(user.mail) }}
                    </div>
                    <div class="form-group col-6">
                        {{ form_label(user.phone_fixed, 'Phone fixed :') }}
                        {{ form_widget(user.phone_fixed) }}
                    </div>

                    <div class="form-group col-6">
                        {{ form_label(user.phone_mobile, 'Mobile phone :') }}
                        {{ form_widget(user.phone_mobile) }}
                    </div>
                    <div class="form-group col-6">
                        {{ form_label(user.about, 'About you :') }}
                        {{ form_widget(user.about) }}
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn" type="submit">Register</button>
                </div>

                {{ form_end(user) }}
            </div>
        </div>
    </form>
{% endblock %}