{% extends "back/layout.html.twig" %}

{% block content %}

    <div class="row ">
    {% for review in reviews %}
            <div class="card col-md-5 d-flex justify-content-around">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <div class="review-title" style="line-height: 3.5rem">{{ review.title }}</div>
                        </div>
                        <div class="col-3">
                            {{ review.user.picture }}
                            {% if review.user.picture is empty %}
                                <img
                                        src="{{ asset('images/default/user.png') }}"
                                        style="width: 3.5rem;height: 3.5rem;border-radius: 50%"
                                >
                            {% else %}
                                <img
                                        src="{{ asset('images/user/' ~ review.user.picture) }}"
                                        style="width: 3.5rem;height: 3.5rem;border-radius: 50%"
                                >
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ review.description }}</p>
                    {% set difference = date("now").diff(date(review.date)) %}
                    {% set leftDays = difference.days %}
                    {% if leftDays == 1 %}
                        1 day ago,
                    {% else %}
                        {{ leftDays }} days ago,
                    {% endif %}
                    {{ review.date|date("m/d/Y") }}
                    <div class="marks float-right col-4" style="line-height: 2rem">
                        {% for i in range(1, 5) %}
                            {% if i <= review.mark %}
                                <i class="fas fa-star text-primary"></i>
                            {% else %}
                                <i class="far fa-star text-primary"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <a href="#" class="btn btn-primary">Update</a>
                        <a href="#" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>


{% endblock %}