
{% extends 'front/layout.html.twig' %}

{% block title 'Search Your Home' %}

{% block body %}

    <div class="container d-flex justify-content-center">
        <form method="post" class="form-inline mt-5" style="width: 80%!important">
            {{ form_start(form) }}
            {{ form_row(form._token) }}
            <div class="col-8">
                {{ form_widget(form.search ) }}
            </div>

            <div class="form-group">
                <button class="btn" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <div class="container mt-5">
        <div class="row col-12">
            {% for data in datas %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ data.name }}</h5>
                        <p class="card-text text-justify">{{ data.description }}</p>
                        <a class="btn btn-primary" href="{{ path('front_view', {id: data.id, name: data.name }) }}">Explore</a>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}