
{% extends 'front/layout.html.twig' %}

{% block title 'Find Your Home' %}


{% block body %}

    <div class="container mt-5">
        <h2>{{ accomodation.name }}</h2>

        {{ type.name }} <i class="fas fa-{{ type.icon }}"></i>

        {{ dump(accomodation) }}
        {{ dump(type) }}
        {{ dump(location) }}
        {{ dump(equipments) }}
        {{ dump(availabilities) }}
        {{ dump(photos) }}

        {{ location.country }}
    </div>

{% endblock %}