
{% extends 'front/layout.html.twig' %}

{% block title 'Find Your Home' %}


{% block body %}

    <div class="container-fluid mt-5 pl-5 pr-5 mb-5">
        <div class="row">
            <div class="col-md-5 pl-3 pr-3">
                <div class="row">
                    <h3 class="bg-primary text-white" style="position:relative;width: 100%;text-align: center; padding: 10px 0;">
                        <i style="position: absolute;left:1rem;" class="{{ type.icon }}"></i>{{ accomodation.name }}
                    </h3>
                </div>
                <p class="mt-4" style="text-align: justify">{{ accomodation.description }}</p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Rooms</th>
                        <th scope="col">Bedrooms</th>
                        {% if accomodation.floor %}
                            <th scope="col">Floor</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ accomodation.rooms }}</td>
                        <td>{{ accomodation.bedroom }}</td>
                        {% if accomodation.floor %}
                            <td>{{ accomodation.bedroom }}</td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
                    <div class="row">
                        {% for equipment in equipments %}
                            <div style="margin:0 10px;text-align:center;line-height:3.5rem;height: 3rem;width: 3rem;border-radius: 50%;" class="bg-primary">
                                <i style="color: white; font-size: 1.5rem;" class="{{ equipment.icon }}"></i>
                            </div>
                        {% endfor %}
                    </div>

            </div>
            <div class="col-md-7 pl-5 pr-5">
                <div id="carouselExampleCaptions" class="carousel slide"
                    style="
                        -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
                        box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);">
                    <div class="carousel-inner">
                        <div class="row">
                            {% for photo in photos %}
                                <div class="{% if photos[0].id == photo.id %}active {% endif %}carousel-item"
                                     style="
                                         width:100%;
                                         height: 30rem;
                                         background-size: cover;
                                         background-position:center;
                                         background-image: url('{{ asset('images/accomodation/' ~ photo.url) }}')
                                     ">
                                    <!--<img class=" w-100" src="{{ asset('images/accomodation/' ~ photo.url) }}">-->
                                </div>
                            {% endfor %}
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <h1>Reviews</h1>
        <div class="mt-5 row d-flex justify-content-around">
            {% for review in reviews %}
                <div class="card col-md-5">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <div class="review-title" style="line-height: 3.5rem">
                                    {{ review.title }}
                                </div>
                            </div>
                            <div class="col-3">
                                {{ review.user.picture }}
                                {% if review.user.picture is empty %}
                                    <img
                                        src="{{ asset('images/default/user.png') }}"
                                        style="width: 3.5rem;height: 3.5rem;border-radius: 50%"
                                    >
                                {% else %}
                                    <img
                                        src="{{ asset('images/user/' ~ review.user.picture) }}"
                                        style="width: 3.5rem;height: 3.5rem;border-radius: 50%"
                                    >
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ review.description }}</p>
                    </div>
                        <div class="card-footer text-muted">
                            {% set difference = date("now").diff(date(review.date)) %}
                            {% set leftDays = difference.days %}
                            {% if leftDays == 1 %}
                                1 day ago,
                            {% else %}
                                {{ leftDays }} days ago,
                            {% endif %}
                            {{ review.date|date("m/d/Y") }}
                            <div class="marks float-right col-4" style="line-height: 1.5rem">
                                {% for i in range(1, 5) %}
                                    {% if i <= review.mark %}
                                        <i class="fas fa-star text-primary"></i>
                                    {% else %}
                                        <i class="far fa-star text-primary"></i>
                                    {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {#
    {{ review.title }}
    {{ review.mark }}
    {{ review.description }}
    {{ review.date|date("m/d/Y") }}
    #}

    {{ dump(accomodation) }}
    {{ dump(reviews) }}
    {{ dump(type) }}
    {{ dump(location) }}
    {{ dump(equipments) }}
    {{ dump(availabilities) }}
    {{ dump(photos) }}

    {{ location.country }}
    <!--<div class="col-5">
        <div class="col-md-7">
            <div class="card profile-card">
                <div class="background-block">
                    <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
                </div>
                <div class="profile-thumb-block">
                    <img src="{{ asset('images/default/user.png') }}" alt="profile-image" class="profile"/>
                </div>
                <div class="card-content">
                    <h2>{{ owner.lastname }} {{ owner.firstname }}<small>{{ owner.mail }}</small></h2>
                    <div class="icon-block"><a href="#"><i class="fab fa-facebook"></i></a><a href="#"> <i class="fab fa-twitter"></i></a><a href="#"> <i class="fab fa-google-plus"></i></a></div>
                </div>
            </div>
        </div>
    </div>-->





    {{ type.name }} <i class="fas fa-{{ type.icon }}"></i>

    {% for photo in photos %}
        <!--<img src="{{ asset('images/accomodation/' ~ photo.url) }}" alt="">-->
    {% endfor %}


{% endblock %}