<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin !</title>
    <link href="{{ asset('css/bootstrap.min.css') }}"  rel="stylesheet">
    <link href="{{ asset('css/bootstrap-grid.min.css') }}"  rel="stylesheet">
    <link href="{{ asset('css/bootstrap-reboot.min.css') }}"  rel="stylesheet">
    {% block style %}{% endblock %}

    
</head>
<body>
{% block content %}{% endblock %}
</body>
<script src="{{ asset('/js/jquery.min.js') }}"></script>
<script src="{{ asset('/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('/js/bootstrap.bundle.min.js') }}"></script>
{% block script %}{% endblock %}
</html>
